.buttonMenu1 {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
    -fx-background-color: transparent;
}

.buttonMenu:hover {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, black, 10, 0.8, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.buttonClues {
    -fx-background-image: url("Img/Clues.png");
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.gameInterface {
    -fx-background-image: url("Img/gameImg.png");
    -fx-background-size: cover;
}

.menuInterface {
    -fx-background-image: url("Img/menuImg.jpg");
    -fx-background-size: cover;
}

.txtField {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-border-color: #fff;
    -fx-border-width: 1px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-background-radius: 5px;
}
